// Code generated by Fern. DO NOT EDIT.

package splitterversions

import (
	context "context"
	http "net/http"

	extend "github.com/extend-hq/extend-go-sdk"
	core "github.com/extend-hq/extend-go-sdk/core"
	internal "github.com/extend-hq/extend-go-sdk/internal"
	option "github.com/extend-hq/extend-go-sdk/option"
)

type RawClient struct {
	baseURL string
	caller  *internal.Caller
	options *core.RequestOptions
}

func NewRawClient(options *core.RequestOptions) *RawClient {
	return &RawClient{
		options: options,
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

func (r *RawClient) List(
	ctx context.Context,
	// The ID of the splitter.
	//
	// Example: `"spl_Xj8mK2pL9nR4vT7qY5wZ"`
	splitterID string,
	request *extend.SplitterVersionsListRequest,
	opts ...option.RequestOption,
) (*core.Response[*extend.SplitterVersionsListResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api.extend.ai",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/splitters/%v/versions",
		splitterID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	if request.ExtendWorkspaceID != nil {
		headers.Add("x-extend-workspace-id", *request.ExtendWorkspaceID)
	}

	var response *extend.SplitterVersionsListResponse
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(extend.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*extend.SplitterVersionsListResponse]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) Create(
	ctx context.Context,
	// The ID of the splitter.
	//
	// Example: `"spl_Xj8mK2pL9nR4vT7qY5wZ"`
	splitterID string,
	request *extend.SplitterVersionsCreateRequest,
	opts ...option.RequestOption,
) (*core.Response[*extend.SplitterVersion], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api.extend.ai",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/splitters/%v/versions",
		splitterID,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	if request.ExtendWorkspaceID != nil {
		headers.Add("x-extend-workspace-id", *request.ExtendWorkspaceID)
	}
	headers.Add("Content-Type", "application/json")
	var response *extend.SplitterVersion
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(extend.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*extend.SplitterVersion]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) Retrieve(
	ctx context.Context,
	// The ID of the splitter.
	//
	// Example: `"spl_Xj8mK2pL9nR4vT7qY5wZ"`
	splitterID string,
	// The version to retrieve. Accepts any of the following:
	//
	// - `"draft"` — returns the current draft version
	// - `"latest"` — returns the latest published version (falls back to draft if none published)
	// - A version number (e.g. `"0.1"`, `"1.0"`) — returns that specific published version
	// - A version ID (e.g. `"splv_QYk6jgHA_8CsO8rVWhyNC"`) — returns that specific version by ID
	versionID string,
	request *extend.SplitterVersionsRetrieveRequest,
	opts ...option.RequestOption,
) (*core.Response[*extend.SplitterVersion], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api.extend.ai",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/splitters/%v/versions/%v",
		splitterID,
		versionID,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	if request.ExtendWorkspaceID != nil {
		headers.Add("x-extend-workspace-id", *request.ExtendWorkspaceID)
	}

	var response *extend.SplitterVersion
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(extend.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*extend.SplitterVersion]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}
