// Code generated by Fern. DO NOT EDIT.

package evaluationsetitems

import (
	context "context"
	http "net/http"

	extend "github.com/extend-hq/extend-go-sdk"
	core "github.com/extend-hq/extend-go-sdk/core"
	internal "github.com/extend-hq/extend-go-sdk/internal"
	option "github.com/extend-hq/extend-go-sdk/option"
)

type RawClient struct {
	baseURL string
	caller  *internal.Caller
	options *core.RequestOptions
}

func NewRawClient(options *core.RequestOptions) *RawClient {
	return &RawClient{
		options: options,
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

func (r *RawClient) List(
	ctx context.Context,
	// The ID of the evaluation set.
	//
	// Example: `"ev_2LcgeY_mp2T5yPaEuq5Lw"`
	evaluationSetID string,
	request *extend.EvaluationSetItemsListRequest,
	opts ...option.RequestOption,
) (*core.Response[*extend.EvaluationSetItemsListResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api.extend.ai",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/evaluation_sets/%v/items",
		evaluationSetID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	if request.ExtendWorkspaceID != nil {
		headers.Add("x-extend-workspace-id", *request.ExtendWorkspaceID)
	}

	var response *extend.EvaluationSetItemsListResponse
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(extend.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*extend.EvaluationSetItemsListResponse]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) Create(
	ctx context.Context,
	// The ID of the evaluation set.
	//
	// Example: `"ev_2LcgeY_mp2T5yPaEuq5Lw"`
	evaluationSetID string,
	request *extend.EvaluationSetItemsCreateRequest,
	opts ...option.RequestOption,
) (*core.Response[*extend.EvaluationSetItemsCreateResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api.extend.ai",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/evaluation_sets/%v/items",
		evaluationSetID,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	if request.ExtendWorkspaceID != nil {
		headers.Add("x-extend-workspace-id", *request.ExtendWorkspaceID)
	}
	headers.Add("Content-Type", "application/json")
	var response *extend.EvaluationSetItemsCreateResponse
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(extend.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*extend.EvaluationSetItemsCreateResponse]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) Retrieve(
	ctx context.Context,
	// The ID of the evaluation set.
	//
	// Example: `"ev_2LcgeY_mp2T5yPaEuq5Lw"`
	evaluationSetID string,
	// The ID of the evaluation set item.
	//
	// Example: `"evi_kR9mNP12Qw4yTv8BdR3H"`
	itemID string,
	request *extend.EvaluationSetItemsRetrieveRequest,
	opts ...option.RequestOption,
) (*core.Response[*extend.EvaluationSetItem], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api.extend.ai",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/evaluation_sets/%v/items/%v",
		evaluationSetID,
		itemID,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	if request.ExtendWorkspaceID != nil {
		headers.Add("x-extend-workspace-id", *request.ExtendWorkspaceID)
	}

	var response *extend.EvaluationSetItem
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(extend.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*extend.EvaluationSetItem]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) Update(
	ctx context.Context,
	// The ID of the evaluation set.
	//
	// Example: `"ev_2LcgeY_mp2T5yPaEuq5Lw"`
	evaluationSetID string,
	// The ID of the evaluation set item.
	//
	// Example: `"evi_kR9mNP12Qw4yTv8BdR3H"`
	itemID string,
	request *extend.EvaluationSetItemsUpdateRequest,
	opts ...option.RequestOption,
) (*core.Response[*extend.EvaluationSetItem], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api.extend.ai",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/evaluation_sets/%v/items/%v",
		evaluationSetID,
		itemID,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	if request.ExtendWorkspaceID != nil {
		headers.Add("x-extend-workspace-id", *request.ExtendWorkspaceID)
	}
	headers.Add("Content-Type", "application/json")
	var response *extend.EvaluationSetItem
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(extend.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*extend.EvaluationSetItem]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) Delete(
	ctx context.Context,
	// The ID of the evaluation set.
	//
	// Example: `"ev_2LcgeY_mp2T5yPaEuq5Lw"`
	evaluationSetID string,
	// The ID of the evaluation set item.
	//
	// Example: `"evi_kR9mNP12Qw4yTv8BdR3H"`
	itemID string,
	request *extend.EvaluationSetItemsDeleteRequest,
	opts ...option.RequestOption,
) (*core.Response[*extend.EvaluationSetItemsDeleteResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api.extend.ai",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/evaluation_sets/%v/items/%v",
		evaluationSetID,
		itemID,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	if request.ExtendWorkspaceID != nil {
		headers.Add("x-extend-workspace-id", *request.ExtendWorkspaceID)
	}

	var response *extend.EvaluationSetItemsDeleteResponse
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodDelete,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(extend.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*extend.EvaluationSetItemsDeleteResponse]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}
