// Code generated by Fern. DO NOT EDIT.

package edittemplates

import (
	context "context"
	http "net/http"

	extend "github.com/extend-hq/extend-go-sdk"
	core "github.com/extend-hq/extend-go-sdk/core"
	internal "github.com/extend-hq/extend-go-sdk/internal"
	option "github.com/extend-hq/extend-go-sdk/option"
)

type RawClient struct {
	baseURL string
	caller  *internal.Caller
	options *core.RequestOptions
}

func NewRawClient(options *core.RequestOptions) *RawClient {
	return &RawClient{
		options: options,
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

func (r *RawClient) Retrieve(
	ctx context.Context,
	// The unique identifier for the edit template.
	//
	// Example: `"edt_xK9mLPqRtN3vS8wF5hB2cQ"`
	id string,
	request *extend.EditTemplatesRetrieveRequest,
	opts ...option.RequestOption,
) (*core.Response[*extend.EditTemplate], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api.extend.ai",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/edit_templates/%v",
		id,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	if request.ExtendWorkspaceID != nil {
		headers.Add("x-extend-workspace-id", *request.ExtendWorkspaceID)
	}

	var response *extend.EditTemplate
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(extend.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*extend.EditTemplate]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}
